<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Infograffer</title>

	<!-- Included CSS Files -->
	<link rel="stylesheet" href="stylesheets/app.css">

	<script src="javascripts/foundation/modernizr.foundation.js"></script>

</head>
<body ng-controller="InfographicsCtrl" >
<div ng-repeat="map in maps">
<div  class="contain-to-grid sticky"> 
<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#">Infograffer</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="left">
      	<li ng-show="!edit"><input ng-model="checked1" type="checkbox" >Labels</li>
      	<li ng-show="!edit"><input  ng-model="checked2" type="checkbox" >Values</li>
      	<li ng-show="!edit">Search</li>
	    <li ng-show="!edit" class="search">
		    <form>
			    <input ng-model="query" type="search">
			 </form>
		</li>
		<li ng-show="edit">Map Center</li>
	    <li ng-show="edit" class="search">
		    <form>
			    <input class="mapcenter" ng-model='map.center' type="search">
			 </form>
		</li>
		<li ng-show="edit">Zoom</li>
		<li ng-show="edit"><input type="number" id="hiddenzoom" ng-model="map.zoom"></li>
    </ul>

    <ul class="right">
    	<li><a class="clickadd" ng-show="edit" ng-click="ToggleClickAdd()">Click to Add = Off</a></li>
      <li><a class="edit" ng-click="Edit()" href="#">Edit On</a></li>
    </ul>
  </section>
</nav>
</div>
<section id="map" ng-click="addItem()" style="background-image:url('http://maps.googleapis.com/maps/api/staticmap?center={{map.center}}&zoom={{map.zoom}}&size=640x640&sensor=false');">
	<item item="item" ng-repeat="item in items | filter:query"></item>
</section>
</div>
	<!-- Included JS Files (Uncompressed) -->
	<script src="javascripts/foundation/jquery.js"></script>
	
	<script src="javascripts/foundation/jquery.cookie.js"></script>
	
	<script src="javascripts/foundation/jquery.event.move.js"></script>
	
	<script src="javascripts/foundation/jquery.event.swipe.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.accordion.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.alerts.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.buttons.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.clearing.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.forms.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.joyride.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.magellan.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.navigation.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.orbit.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.reveal.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.tabs.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.tooltips.js"></script>
	
	<script src="javascripts/foundation/jquery.foundation.topbar.js"></script>
	
	<script src="javascripts/foundation/jquery.placeholder.js"></script>

	<script src="javascripts/foundation/app.js"></script>
	
	<!-- Angular -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	
	<script src="javascripts/angular-resource.js"></script>
	
  	<script src="javascripts/app.js"></script>
  	
</body>
</html>
